# Module 3 Assignment

In [1]:
import csv
from nose.tools import assert_equal, assert_almost_equal
import pandas as pd


A few things you should keep in mind when working on assignments:

1. Make sure you fill in any place that says `YOUR CODE HERE`. Do **not** write your answer in anywhere else other than where it says `YOUR CODE HERE`. Anything you write anywhere else will be removed or overwritten by the autograder.

2. Before you submit your assignment, make sure everything runs as expected. Go to menubar, select _Kernel_, and restart the kernel and run all cells (_Restart & Run all_).

3. Do not change the title (i.e. file name) of this notebook.

4. Make sure that you save your work (in the menubar, select _File_ â†’ _Save and CheckPoint_)

# Problem 1: Reading files with the CSV Library
In this problem you will finish writing a function called *read_data* that reads the [iris dataset](https://archive.ics.uci.edu/ml/datasets/Iris).
The columns are in this order:
1. Column 1: sepal length in cm 
2. Column 2: sepal width in cm 
3. Column 3: petal length in cm 
4. Column 4: petal width in cm 
5. Column 5: class

There are multiple ways to solve this problem but ultimately this function should:
- Accept a string that will be the path to the iris dataset (we named this parameter *file_path*)
- Store each column of the dataset in different list.
- Convert Columns 1-4 to floats.
- Return each of the columns (total of 5) in the following order: 
	- sepal length in cm 
	- petal length in cm 
	- sepal width in cm 
	- petal width in cm 
	- class

In [2]:
# df = pd.read_csv("iris.csv")
# df.columns

In [3]:
def read_data(file_path):
    '''
    This function reads data from the iris data and returns 5 lists (1 for each column)
    
    file_path: string that specifies path to iris dataset
    '''
    
    ### YOUR CODE HERE
    # We store the rows in a list
    
    df = pd.read_csv(file_path)
    
    # Convert to list
    sepal_len = df["sepal length (in cm)"].to_list()
    petal_len = df["petal length (in cm)"].to_list()
    sepal_wid = df["sepal width (in cm)"].to_list()
    petal_wid = df["petal width (in cm)"].to_list()
    class_ = df["class"].to_list()
    
    return sepal_len, petal_len, sepal_wid, petal_wid, class_

In [4]:
file_path = './iris.csv'
sepal_len, petal_len, sepal_wid, petal_wid, class_ = read_data(file_path)

In [5]:
assert_equal(sepal_len[0:50], [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4,
                               4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1,
                               4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2,
                               5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0,
                               5.1, 4.8, 5.1, 4.6, 5.3, 5.0])
assert_equal(sepal_len[75:100], [6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0,
                                 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7,
                                 6.2, 5.1, 5.7])

assert_equal(petal_len[0:25], [1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5,
                               1.6, 1.4, 1.1, 1.2, 1.5, 1.3, 1.4, 1.7, 1.5, 1.7, 1.5,
                               1.0, 1.7, 1.9])
assert_equal(petal_len[44:67], [1.9, 1.4, 1.6, 1.4, 1.5, 1.4, 4.7, 4.5, 4.9, 4.0, 4.6,
                                4.5, 4.7, 3.3, 4.6, 3.9, 3.5, 4.2, 4.0, 4.7, 3.6, 4.4, 4.5])

assert_equal(sepal_wid[0:33], [3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7,
                               3.4, 3.0, 3.0, 4.0, 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7,
                               3.6, 3.3, 3.4, 3.0, 3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1])
assert_equal(sepal_wid[44:100], [3.8, 3.0, 3.8, 3.2, 3.7, 3.3, 3.2, 3.2, 3.1, 2.3, 2.8,
                                 2.8, 3.3, 2.4, 2.9, 2.7, 2.0, 3.0, 2.2, 2.9, 2.9, 3.1,
                                 3.0, 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3.0, 2.8,
                                 3.0, 2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3.0, 3.4, 3.1, 2.3,
                                 3.0, 2.5, 2.6, 3.0, 2.6, 2.3, 2.7, 3.0, 2.9, 2.9, 2.5, 2.8])

assert_equal(petal_wid[15:40], [0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4,
                                0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.1, 0.2, 0.2, 0.1, 0.2,
                                0.2])
assert_equal(petal_wid[45:78], [0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6,
                                1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5,
                                1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7])

assert_equal(class_[45:55], ['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
                             'Iris-setosa', 'Iris-versicolor', 'Iris-versicolor',
                             'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor'])
assert_equal(class_[75:90], ['Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
                             'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
                             'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
                             'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
                             'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor'])

# Problem 2: Finding column names

Recall that the column names of the data frame, `df`, can all be found at once using `df.columns`.

In this problem you will use `df.columns` to find the name of the first two columns of `df`, and save it in a variable named `firsttwo_column_names`.

**Hint**: Treat `df.columns` like an array or a list.

In [6]:
df = pd.read_csv('./iris.csv')
### YOUR CODE HERE
firsttwo_column_names = df.columns[:2]

In [7]:
assert_equal(type(firsttwo_column_names), pd.Index)
assert_equal(len(firsttwo_column_names), 2)

# Problem 3: Manipulating the Iris Dataset with Panadas
We have read in the iris dataset and stored in a pandas dataframe for you in the below cell, this variable is called `df`.  

Your task is to finish the function `df_manipulate`. Dataframe `df` is passed into `df_manipulate`. Using Dataframe `df` do the following:
- Find the sum of the "sepal length in cm" column. Store this in a variable called `sepal_length_sum`.
- Transpose the dataframe and store in a variable called `dfT`.

In [8]:
df = pd.read_csv('./iris.csv') # Read in the iris dataset
df.head() # First 5 rows of iris.csv

,sepal length (in cm),sepal width (in cm),petal length (in cm),petal width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [9]:
def df_manipulate(df):
    '''
    This function will return a transposed dataframe and the sum of the
    'sepal length (in cm)' column.
    
    df: dataframe with data from iris dataset
    '''
    sepal_length_sum = df["sepal length (in cm)"].sum()
    
    dfT = df.T
    ### YOUR CODE HERE
    return sepal_length_sum, dfT

In [10]:
sepal_length_sum, dfT = df_manipulate(df)

In [11]:
assert_equal(dfT.equals(df.T), True)
assert_almost_equal(sepal_length_sum, 876.5, places=5)

**&copy; 2017: Robert J. Brunner at the University of Illinois.**

This notebook is released under the [Creative Commons license CC BY-NC-SA 4.0][ll]. Any reproduction, adaptation, distribution, dissemination or making available of this notebook for commercial use is not allowed unless authorized in writing by the copyright holder.

[ll]: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode