# Module 4 Assignment


A few things you should keep in mind when working on assignments:

1. Make sure you fill in any place that says `YOUR CODE HERE`. Do **not** write your answer in anywhere else other than where it says `YOUR CODE HERE`. Anything you write anywhere else will be removed or overwritten by the autograder.

2. Before you submit your assignment, make sure everything runs as expected. Go to menubar, select _Kernel_, and restart the kernel and run all cells (_Restart & Run all_).

3. Do not change the title (i.e. file name) of this notebook.

4. Make sure that you save your work (in the menubar, select _File_ â†’ _Save and CheckPoint_)

In [1]:
import numpy as np
from nose.tools import assert_equal, assert_almost_equal, assert_true
import pandas as pd

# Problem 1: A function that creates an array

Write a function that takes in a list of numbers and outputs a NumPy array.

In [2]:
def array_maker(my_list):
    """
    Input
    ------
    
    my_list: a list of numbers
    
    
    Output
    -------
    
    my_array: a numpy array created from my_list
    
    """
    
    ### YOUR CODE HERE
    my_array = np.array(my_list)
    
    
    return my_array

In [3]:
assert_equal(type(array_maker([1,2,3])), np.ndarray)
assert_equal(array_maker([1,2,3])[0], 1)
assert_equal(array_maker([1,2,3])[1], 2)
assert_equal(array_maker([1,2,3])[2], 3)

# Problem 2: Summarizing random data

Write a function which takes in an integer `n`, generates `n` random numbers over uniform[0,1), and returns their average.

In [4]:
def average_calculator(n):
    """
    Input
    ------
    
    n: an integer
    
    
    Output
    -------
    
    avg: the average of n uniform[0,1) random numbers
    
    """ 
    
    ### YOUR CODE HERE
    
    
    avg = np.random.rand(n)
    avg = np.mean(avg) 
    return avg

In [5]:
average_calculator(10000)

0.5004558471631924

In [6]:
assert_almost_equal(average_calculator(10000), .5, places=1)

# Problem 3: Reading data

Write a function which reads in a comma delimited datafile with only 1 row and saves it as an array called `data`. 

**Tip**: In this example, the `usecols` argument should *not* be used.

In [7]:
def array_reader(file_name):
    """
    Input
    ------
    
    file_name: a string, the name of the file to be read
    
    
    Output
    -------
    
    saved_array: a numpy array
    
    """
    
    ### YOUR CODE HERE
    data = np.genfromtxt(file_name, delimiter=',')
    
    return data

In [8]:
# data = np.genfromtxt("data_file.txt", delimiter=',')
# data

In [9]:
assert_equal(type(array_reader('data_file.txt')), np.ndarray)
assert_equal(array_reader('data_file.txt')[9], 10)

-----

For the next few cells we will use the Iris dataset, focusing only on the Iris Setosa species.

In [10]:
iris_data = pd.read_csv('iris.csv')
iris_data.head()

,sepal length (in cm),sepal width (in cm),petal length (in cm),petal width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [11]:
setosa_data = iris_data.loc[iris_data['class'] == 'Iris-setosa']

In [12]:
setosa_data.head()

,sepal length (in cm),sepal width (in cm),petal length (in cm),petal width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

# Problem 4: Finding the median

Write a function that takes in a column name from the `setosa_data` dataset and outputs the median value of that column.

In [13]:
def median_finder(column_name):
    """
    Input
    ------
    
    column_name: a string, the name of the column
    
    
    Output
    -------
    
    median: the median value of the column
    
    """
    
    ### YOUR CODE HERE
    column = setosa_data.loc[:, column_name]
    median=column.median()
    return median

In [14]:
assert_equal(median_finder('sepal length (in cm)'), 5.0)
assert_equal(median_finder('sepal width (in cm)'), 3.4)
assert_equal(median_finder('petal length (in cm)'), 1.5)
assert_equal(median_finder('petal width (in cm)'), 0.2)

In [15]:
df = pd.read_csv('./airports.csv', index_col='iata')
df.head()

,airport,city,state,country,lat,long
iata,,,,,,
00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

# Problem 5: Finding all Airports in a state.

For this problem you will find all airports in a given state from the airports dataset. 

Finish writing the `find_state` function in the cell below:
The state parameter indicates the state for which you must find all of airports. The DataFrame is passed in as `df`.

In [16]:
def find_state(df, state='IL'):
    '''
    df - airports.csv loaded into a dataframe
    state - state to find all data for
    returns dataframe containing data from a particular state
    '''
    
    ### YOUR CODE HERE
    
    df_state = df.loc[df["state"] == state]


    return df_state

## Finding all airports in IL.
Your dataframe should look similar to this:

![IL df](images/IL_pd.png)

In [17]:
from helper import fs, srt
assert_true(fs(df, state='IL').equals(find_state(df, state='IL')))

# Checking a few more states
assert_true(fs(df, state='IL').equals(find_state(df, state='IL')))
assert_true(fs(df, state='NC').equals(find_state(df, state='NC')))
assert_true(fs(df, state='CA').equals(find_state(df, state='CA')))

ModuleNotFoundError: No module named 'helper'

# Problem 6: Sorting dataframes

Finish writing the `sort_lat_asc` function. It should sort dataframes passed into it by latitude in ascending order.

In [20]:
def sort_lat_asc(df):
    '''
    df - airports.csv loaded into a dataframe
    returns sorted dataframe by latitiude in ascending order
    '''
    ### YOUR CODE HERE
    sorted_df = df.sort_values(by="lat")
    return sorted_df

In [21]:
nc_df = find_state(df, state='NC')
assert_true(srt(nc_df).equals(sort_lat_asc(nc_df)))

md_df = find_state(df, state='MD')
assert_true(srt(md_df).equals(sort_lat_asc(md_df)))

NameError: name 'srt' is not defined

**&copy; 2017: Robert J. Brunner at the University of Illinois.**

This notebook is released under the [Creative Commons license CC BY-NC-SA 4.0][ll]. Any reproduction, adaptation, distribution, dissemination or making available of this notebook for commercial use is not allowed unless authorized in writing by the copyright holder.

[ll]: https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode